<div class="center-horizontal down-15" (click)="notify()">
  <h1>
    <b>TEST GOOD</b>
  </h1>
</div>

<div class="center-horizontal" style="margin-top: 1000px">
  <p>Scroll</p>
</div>

<div>
  <p class="center-horizontal" style="margin-top: 1000px">More scroll</p>
</div>

<div>
  <p class="center-horizontal" style="margin-top: 1000px">More scroll</p>
</div>

<div>
  <p class="center-horizontal" style="margin-top: 1000px">More scroll</p>
</div>

<div>
  <p class="center-horizontal" style="margin-top: 1000px">Bottom</p>
</div>
