<div class="container-main">
  <h1>Reset Password</h1>

  <div *ngIf="!isSubmitted; else submitted">
    <form #loginForm="ngForm" (ngSubmit)="onReset(loginForm.value.email)">
      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="Email"
          name="email"
          [(ngModel)]="email"
          required
          email
          [disabled]="(isSubmitting$ | async) === true"
        />
        <mat-error>Please provide a valid email address.</mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        [disabled]="(isSubmitting$ | async) === true || loginForm.invalid"
      >
        Send me the password reset link
      </button>

      <div class="account-options">
        <p>No worries, this can happen to anybody, except Federer</p>
      </div>
    </form>
  </div>

  <ng-template #submitted>
    <p>
      We've sent you an email with a password reset link. It should take about a
      second to arrive, but it may take some minutes.
    </p>
  </ng-template>
</div>
