<ng-container
  *ngIf="{
    loginFailedErrorMessage: loginFailedErrorMessage$ | async,
    isSubmitting: isSubmitting$ | async
  } as vm"
>
  <div class="container-main">
    <h1>Update password</h1>

    <form #loginForm="ngForm" (ngSubmit)="onReset(loginForm)">
      <div *ngIf="vm.loginFailedErrorMessage" class="invalid-login-message">
        <mat-error>{{ vm.loginFailedErrorMessage }}</mat-error>
      </div>

      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="Email"
          name="email"
          ngModel
          required
          email
          [disabled]="vm.isSubmitting === true"
        />
        <mat-error>Please check your email for typos.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [type]="passwordHidden ? 'password' : 'text'"
          placeholder="New password"
          name="newPassword"
          ngModel
          required
          minlength="6"
          [disabled]="vm.isSubmitting === true"
        />
        <mat-icon
          matSuffix
          (click)="onTogglePasswordType()"
          class="mat-password-visibility-icon"
        >
          {{ passwordHidden ? "visibility" : "visibility_off" }}
        </mat-icon>
        <mat-error>The password must have 6 or more characters.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [type]="passwordHidden ? 'password' : 'text'"
          placeholder="New password (repeat)"
          name="confirmationPassword"
          ngModel
          required
          appConfirmPassword
          [disabled]="vm.isSubmitting === true"
        />
        <mat-icon
          matSuffix
          (click)="onTogglePasswordType()"
          class="mat-password-visibility-icon"
        >
          {{ passwordHidden ? "visibility" : "visibility_off" }}
        </mat-icon>
        <mat-error
          >Your confirmation password must match your password</mat-error
        >
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        [disabled]="vm.isSubmitting === true || loginForm.invalid"
      >
        Update password and log back in
      </button>

      <div class="account-options">
        <p>Almost there..</p>
      </div>
    </form>
  </div>
</ng-container>
