@import "./variables.scss";
@import "node_modules/angular-notifier/styles";
@import "./type-blanco.scss";
@import "./reset.scss";

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 35px !important;
  font-weight: bold !important;
  margin-bottom: 50px !important;
  color: rgb(50, 50, 50);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

.center-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-vertical {
  padding-top: 35%;
}

.height-full {
  height: 100%;
}

.width-maxed-600 {
  max-width: 100% !important;
  max-width: 600px !important;
}

.width-maxed-input {
  width: 80vw;
  max-width: 600px;
}

.width-maxed-200 {
  max-width: 200px !important;
}

.up-5 {
  margin-top: -5%;
}

.up-10 {
  margin-top: -10%;
}

.down-5 {
  margin-top: 5%;
}

.down-10 {
  margin-top: 10%;
}

.down-15 {
  margin-top: 15%;
}

.down-20 {
  margin-top: 20%;
}

.down-30 {
  margin-top: 30%;
}

mat-spinner {
  margin-right: auto;
  margin-left: auto;
}

.mat-password-visibility-icon {
  cursor: pointer;
  color: rgb(100, 100, 100);
  margin-right: 3px;
  margin-left: 5px;
  transform: translate(0px, 3px)
}
