$link-color: #3f51b5;
$link-hover-color: currentColor;
$link-hover-decoration: none;
$label-margin-bottom: 0;

$myPrimaryButtonColor: rgb(255, 108, 82);
$myPrimaryButtonHoverColor: rgb(253, 85, 55);
$myPrimaryButtonTextColor: white;
$myPrimaryButtonBorderColor: rgb(255, 130, 108);
