<ng-container
  *ngIf="{
    loginFailedErrorMessage: loginFailedErrorMessage$ | async,
    isSubmitting: isSubmitting$ | async,
    user: user$ | async
  } as vm"
>
  <div class="container-main">
    <h1>Change password</h1>

    <form #loginForm="ngForm" (ngSubmit)="onChange(loginForm)">
      <div *ngIf="vm.loginFailedErrorMessage" class="invalid-login-message">
        <mat-error>{{ vm.loginFailedErrorMessage }}</mat-error>
      </div>

      <input [hidden]="true" [value]="vm.user?.email" ngModel name="email" />

      <mat-form-field>
        <input
          matInput
          [type]="passwordHidden ? 'password' : 'text'"
          placeholder="Old password"
          name="currentPassword"
          ngModel
          required
          minlength="6"
          [disabled]="vm.isSubmitting === true"
        />
        <mat-icon
          matSuffix
          (click)="onTogglePasswordType()"
          class="mat-password-visibility-icon"
        >
          {{ passwordHidden ? "visibility" : "visibility_off" }}
        </mat-icon>
        <mat-error>The password must have 6 or more characters.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [type]="passwordHidden ? 'password' : 'text'"
          placeholder="New password"
          name="newPassword"
          ngModel
          required
          minlength="6"
          [disabled]="vm.isSubmitting === true"
        />
        <mat-icon
          matSuffix
          (click)="onTogglePasswordType()"
          class="mat-password-visibility-icon"
        >
          {{ passwordHidden ? "visibility" : "visibility_off" }}
        </mat-icon>
        <mat-error>The password must have 6 or more characters.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [type]="passwordHidden ? 'password' : 'text'"
          placeholder="New password (repeat)"
          name="confirmationPassword"
          ngModel
          required
          appConfirmPassword
          [disabled]="vm.isSubmitting === true"
        />
        <mat-icon
          matSuffix
          (click)="onTogglePasswordType()"
          class="mat-password-visibility-icon"
        >
          {{ passwordHidden ? "visibility" : "visibility_off" }}
        </mat-icon>
        <mat-error
          >Your confirmation password must match your password</mat-error
        >
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        [disabled]="vm.isSubmitting === true || loginForm.invalid"
      >
        Change password
      </button>
      <div class="account-options">
        <p>Currently the only setting</p>
      </div>
    </form>
  </div>
</ng-container>
