.main-container {
  text-align: center;
  @media (max-width: 800px) {
    padding-top: 20%;
  }
}

.message {
  line-height: 12px;
  color: rgb(105, 105, 105);
  margin-top: -20px;
  margin-bottom: 20px;
  text-align: center;
}

.button-group {
  display: flex;
  flex-flow: row nowrap;
}

.confirm-button {
  margin: 30px 30px;
  width: 100px;
}
