.main-container {
  @media (max-width: 800px) {
    padding-top: 20%;
  }
}

.message {
  line-height: 12px;
  color: rgb(95, 95, 95);
  margin-top: -20px;
  margin-bottom: 20px;
}

.confirm-button {
  margin: 30px 40px;
  width: 100px;
}
